@import '../../../../styles/settings/colors';

.form {
  display: block;
  margin: 60px auto 0;
  width: 100%;
  max-width: 400px;

  label {
    display: block;
    margin-top: 24px;
    margin-left: 15px;
    text-align: left;
    letter-spacing: 1px;
    color: $color-navy;
    font-weight: 300;
  }
}

.checkboxGroup {
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  align-items: center;

  label {
    margin: 0 20px 0 15px;
  }
}
