@import '../../../../styles/settings/colors';

.list {
  display: block;
  transition: .4s;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.listLoading {
  filter: blur(3px);
}

.item {
  display: block;
  position: relative;
  margin-top: 20px;
  border: 1px solid $color-divider;
  border-radius: 4px;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  letter-spacing: 1px;
  font-size: 14px;
  box-sizing: border-box;
}

.bookmarkBtn {
  display: flex;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  transition: .4s;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: .5;
  }
}

.bookmarkBtnIcon {
  display: block;
  width: 20px;
  height: 20px;
}

.status {
  text-align: center;
  letter-spacing: 1px;
  color: $color-divider;
  font-size: 16px;
}

.empty {
  composes: status;
}

.info {
  composes: status;
}

.error {
  composes: status;
}
